@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  background: #F4E9E1;
  color: #1F0800;
  font-family: 'Raleway',
  sans-serif;
}

h2 {
  border: solid 1px #D1925C;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  padding: 2rem;;
  width: 80vw;
}

.categoryContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

a {
  color: #1F0800;
  text-decoration: none;
}

a:hover:active {
  color: #5E6353;
}

h1 {
  margin-top: 1em;
  margin-bottom: 0;
}

.mainCategory {
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  border: 6px solid white;
  box-shadow: 4px 4px 12px 0 rgba(142, 137, 137, 0.8),
      -6px -6px 16px 0 rgba(223, 219, 219, 0.8);
  display: flex;
  height: 20vh;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  width: 70vw;
}

.mainCategory:active {
  box-shadow: 4px 4px 12px 0 #D1925C;
}

.mainCategory:hover {
  box-shadow: 4px 4px 12px 0 #A63D10;
}

.mainCategoryText {
  color: #F4E9E1;
  background-color:#1F0800;
  display: flex;
  font-size: 1em;
  justify-content: center;
  padding: 1.5rem;
  width: 100%;
}

.missionStatement {
  font-size: 1em;
}

.searchMessageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.titleContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .categoryContainer {
    height: 52vh;
    flex-direction: row;
  }
  .mainCategory {
    width: 24vw;
    height: 40vh;
  }
  .missionStatement {
    font-size: 1.5em;
  }
}
