@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  background: #F4E9E1;
  color: #1F0800;
  font-family: 'Raleway',
  sans-serif;
}

h2 {
  border: solid 1px #D1925C;
  font-size: 1.25rem;
  display: flex;
  justify-content: center; 
  padding: 2rem;;
  width: 80vw;
}

.category-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}

a {
  text-decoration: none;
  color: #1F0800;
}

.mainCategory {
  border: 1px solid #1F0800;
  padding: 1rem;
  border-radius: 8px;
  width: 10vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainCategoryImage {
    width: 15rem;
}
 
.mainCategoryText {
  color: #F4E9E1;
  background-color:#1F0800;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .category-container {
    flex-direction: row;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}