.category {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.categoryDefinition {
    align-items: center;
    display: flex;
}
.categoryTitle {
    display: flex;
    justify-content: center;
}

.descriptionContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-top: 0;
}

.linkContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.productContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sourcesContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.sourcesTitle {
    background-color: #5E6353;
    margin-bottom: 0;
}