.loading-message {
    align-items: center;
    background:#1F0800;
    background-position: center;
    background-size: 150%;
    box-shadow: 4px 4px 12px 0 rgba(142, 137, 137, 0.8),
    -6px -6px 16px 0 rgba(223, 219, 219, 0.8);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 3em;
    padding: 4em 4em 0 4em;
  }

  .loading-text {
    background-color:#1F0800;
    border-radius: 7px;
    color: #F4E9E1;
    margin: 2em;
    padding: 1em;
    text-align: center;
    width:40vw;
  }

  
