footer {
    background-color: #A63D10;
    color: #F4E9E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

h5 {
    margin-top: 0;
}

.dev {
    border: solid 1px #D1925C;
    border-radius: 7px;
    width: 6em;
    padding: 1em;
    text-align: center;
}

.dev-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.links img {
  width: 2em;
  margin: .1em;
}

@media screen and (min-width: 800px) {
    .dev {
        width: 10em;
    }
}
