.searchImage {
   align-items: center;
   background-color: white;
   background-position: center;
   background-size: cover;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   border: 6px solid white;
   border-radius: 8px;
   box-shadow: 4px 4px 12px 0 rgba(142, 137, 137, 0.5),
    -6px -6px 16px 0 rgba(223, 219, 219, 0.5);
   display: flex;
   justify-content: center;
   margin: 1rem;
   margin-bottom: 1rem;
   max-width: 65%;
   max-height: 60%;
   object-fit: contain;
   padding: 1rem;
   width: 100%;
}
